@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Inter", system-ui, sans-serif;
  background-color: #f9fafb;
  color: #111827;
}

@layer utilities {
  .highlight-term {
    @apply bg-yellow-200 cursor-pointer rounded-sm px-0.5 transition-colors hover:bg-yellow-300;
  }
}
